{{page-title 'ARchive'}}
<div class="container">
  <div class="columns is-centered">

    {{#each @model as |user|}}
    <div class="column">
      <LinkTo @route="users.user" @model={{user}}>
        {{#if (eq user.archive true)}}
        <div class="user-select is-220px">
          <img class="is-pulled-left" src={{user.image}} width="60px" alt="profile-image" />
          <p>{{user.name}}</p>
        </div>
        {{/if}}
      </LinkTo>

    </div>
    {{/each}}

  </div>
</div>